<div class="field mb-10 relative">
  <%= remove_associated_record(tag: :div, html: { class: 'remove-participant' }) do %>
    <i class="far fa-times-circle absolute text-3xl" style="top: 30px; right: 8px;"></i>
  <% end %>
  <%= f.input :first_name, input_html: { class: 'text-4xl font-bold mb-8 w-full' }, 
                      label: false,
                      placeholder: 'First name...' %>
  <%= f.input :email, input_html: { class: 'text-4xl font-bold mb-15 w-full' }, 
                      label: false,
                      placeholder: 'Email...' %>
  <%= f.hidden_field :_destroy %>
</div>